{% extends "base.html" %}

{% load static %}

{% block content %}

{% include "headerPages.html" %}

	
	<!-- Page Title -->
    <section class="page-title">
        <div class="auto-container">
			<h1>Связажитесь с нами</h1>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Contact Page Section -->
	<section class="contact-page-section">
		<div class="patern-layer-one paroller" data-paroller-factor="0.40" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url(images/icons/icon-1.png)"></div>
		<div class="patern-layer-two paroller" data-paroller-factor="0.40" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url(images/icons/icon-2.png)"></div>
		<div class="auto-container">
			<!-- Contact Info Section -->
			<div class="contact-info-section">
				<div class="title-box">
					<h2>Контактная информация</h2>
					<div class="text">Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry.</div>
				</div>
				
				<div class="row clearfix">
					
					<!-- Info Column -->
					<div class="info-column col-lg-4 col-md-6 col-sm-12">
						<div class="info-inner">
							<div class="icon fa fa-phone"></div>
							<strong>Телефон</strong>
							<ul>
								<li><a href="tel:+1-123-456-7890">{{ data.phone }}</a></li>
								<li><a href="tel:+1-123-456-7890">{{ data.phone2 }}</a></li>
							</ul>
						</div>
					</div>
					
					<!-- Info Column -->
					<div class="info-column col-lg-4 col-md-6 col-sm-12">
						<div class="info-inner">
							<div class="icon fa fa-envelope-o"></div>
							<strong>Email</strong>
							<ul>
								<li><a href="mailto:info@yourcompany.com">{{ data.email }}</a></li>
								<li><a href="mailto:infobootcamp@gmail.com">{{ data.email2 }}</a></li>
							</ul>
						</div>
					</div>
					
					<!-- Info Column -->
					<div class="info-column col-lg-4 col-md-6 col-sm-12">
						<div class="info-inner">
							<div class="icon fa fa-map-marker"></div>
							<strong>Адресс</strong>
							<ul>
								<li>{{ data.address }}</li>
							</ul>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Contact Page Section -->
	
	<!-- Map Section -->
	<section class="map-section">
		<!-- Map Boxed -->
		<div class="map-boxed">
			<!--Map Outer-->
			<div class="map-outer">
				<iframe src="{{ data.map }}" allowfullscreen=""></iframe>
			</div>
		</div>
	</section>
	<!-- End Map Section -->
	
	<!-- Call To Action Section Two -->
	<section class="call-to-action-section-two" style="background-image: url({% static 'images/background/3.png' %})">
		<div class="auto-container">
			<div class="content">
				<h2>Ready to get started?</h2>
				<div class="text">Replenish him third creature and meat blessed void a fruit gathered you’re, they’re two <br> waters own morning gathered greater shall had behold had seed.</div>
				<div class="buttons-box">
					<a href="course.html" class="theme-btn btn-style-one"><span class="txt">Get Stared <i class="fa fa-angle-right"></i></span></a>
					<a href="course.html" class="theme-btn btn-style-two"><span class="txt">All Courses <i class="fa fa-angle-right"></i></span></a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Call To Action Section Two -->
	

{% endblock content %}